@page "/tasks"
@inherits TaskPageModel


<div style="width:100%;">
    <TextInput TextColor="var(--text-color)" BackgroundColor="white"
               BorderColor="var(--text-color)" Placeholder="Search ..." InputEvent=@SearchTask FontSize="14" />

</div>
<Space />
<div style="display:flex; gap:10px;">

    <div style="width:100%;">
        <SelectInput TValue=int ValueChanged=OnCategories BackgroundColor="white" FontSize="14">

            <option selected value=0>Categories (All)</option>
            @foreach (var cat in Categories)
            {
                <option value=@cat.Id>@cat.Name</option>
            }
        </SelectInput>

    </div>
    <div style="width:100%;">
        <SelectInput TValue="int" ValueChanged=OnFilter BackgroundColor="white" FontSize="14">
            <option value=0>Not Filter</option>
            <option value=1>Not Completed</option>
            <option value=2>Completed</option>
            <option value=3>Archived</option>
        </SelectInput>

    </div>

</div>

<Space />

@if (TaskItems != null)
{
    <Title IsCenter="false" IsBold="false" Text=@($"{TaskItems.Count()} Task(s)") TextColor="var(--text-color)" FontSize="15" />
    <Space />
    <Grid Items=@TaskItems TItem=TaskItem Gap="10">
        <ItemTemplate Context="item">
            <Navigate NavigateEvent=@(()=>OnNavigate($"taskform/{item.Id}"))>
                <ItemTemplate>
                    <Wrapper2 Padding="12" BackgroundColor=@(item.IsArchived ? "#f8f8f8" : "#fff")>
                        <ItemTemplate>
                            <div>
                                @if (item.IsArchived)
                                {
                                    <Tag BackgroundColor="#888" TextColor="white">
                                        <Element>
                                            Archived
                                        </Element>
                                    </Tag>
                                }
                                else
                                { 
                                    @if (!item.IsCompleted)
                                    {
                                        { @if (item.Priority == 0)
                                            {
                                                <Tag BackgroundColor="#ffdddd" TextColor="red">
                                                    <Element>
                                                        Priority
                                                    </Element>
                                                </Tag>
                                            }
                                            <Tag BackgroundColor="transparent" TextColor=@item.Category.Color BorderColor=@item.Category.Color>
                                                <Element>
                                                    @item.Category.Name
                                                </Element>
                                            </Tag>
                                        }
                                    }
                                }
                                </div>
                                <Space />
                                <div style="display: flex; gap: 10px;">
                                    <CheckBoxInput Value=@item.IsCompleted ValueChanged=@((e)=>OnChangeState(e, item)) TextColor="var(--primary-color)" StopPropagation="true" />
                                    <Title Text=@item.Title FontSize="18" IsBold="false" IsCenter="false" IsLineThrough=@item.IsCompleted />
                                </div>
                            </ItemTemplate>
                        </Wrapper2>
                    </ItemTemplate>
                </Navigate>
            </ItemTemplate>
            <EmptyResults>
            </EmptyResults>
        </Grid>
                                }
    <Space NumberSpace="5" />

    <button class="btn-fab" style="background-color: saddlebrown" @onclick=@(()=>OnNavigate("taskform/0"))>
        <span class="btn-icon">+</span>
    </button>