<div class="tabbar">
    <NavLink class="tab-button" href="/" Match="NavLinkMatch.All">
        <img src="icon/home.svg" alt="Home" />
        <span>Home</span>
    </NavLink>
    <NavLink class="tab-button" href="/notes" Match="NavLinkMatch.All">
        <img src="icon/note.svg" alt="Note" />
        <span>Note</span>
    </NavLink>
    <NavLink class="tab-button" href="/tasks" Match="NavLinkMatch.All">
        <img src="icon/task.svg" alt="Task" />
        <span>Task</span>
    </NavLink>
    <NavLink class="tab-button" href="/categories" Match="NavLinkMatch.All">
        <img src="icon/category.svg" alt="Category" />
        <span>Category</span>
    </NavLink>
    <NavLink class="tab-button" href="/settings" Match="NavLinkMatch.All">
        <img src="icon/settings.svg" alt="Settings" />
        <span>Settings</span>
    </NavLink>
</div>

<style>
    .tab-button {
        background: none;
        width: 100%;
        border: none;
        color: var(--text-color);
        font-size: 12px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        transition: color 0.3s ease;
        opacity: 0.4;
    }

        .tab-button img {
            width: 24px;
            height: 24px;
            margin-bottom: 5px;
        }

        .tab-button span {
            font-size: 12px;
        }

        .tab-button.active {
            
            opacity: 1;
        }

        .tab-button.active span {
            font-weight: bold;
        }
</style>
